@model RebelInventory.Models.Equipment.EquipmentIndexModel

<body>
    <div>
        <h3>Equipment List</h3>
        <div>
            <table class="tabletable-condensed equipmentIndexTable">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var equipment in Model.Equipments)
                    {
                        <tr>
                            <td >
                                <a asp-controller="Equipment" asp-action="Detail" asp-route-id="@equipment.Id">
                                    <img src="@equipment.ImageUrl" class="imageCell" />
                                </a>
                            </td>
                            <td>@equipment.Name</td>
                            <td>@equipment.Type</td>
                            <td align="center">@equipment.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>